.color-theme {
  color: $theme;
}

.color-gray2 {
  color: $gray2;
}

.bg-gray {
  background-color: $gray;
}

.bg-white {
  background-color: $white;
}

.color0 {
  color: #000;
}

.color3 {
  color: $color3;
}

.color8 {
  color: $color8;
}

.color9 {
  color: $color9;
}

.colorc {
  color: $colorc;
}

.color-red {
  color: $red;
}

.bg-red {
  background-color: $red;
}

.color-orange {
  color: $orange;
}

.bg-orange {
  background-color: $orange;
}

.color-yellow {
  color: $yellow;
}

.bg-yellow {
  background-color: $yellow;
}
